.projects {
    padding: 2em;
    background-color: #3a3535;
    

  }
  .projects h2 {
    color: #fff;
  }
  
  .project-cards {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    
  }
  
  .project-card {
    background-color: white;
    padding: 1.5em;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .project-card:hover{
    background-color:grey;
  }
  
  .project-card h3 {
    margin-bottom: 1em;
  }
  
  .project-card a {
    text-decoration: none;
    color: #007bff;
  }
  